{% extends 'store/base.html' %}}


{% block content%}


<div class="container py-3">

    <div class="row align-items-start">
        <div class="col-3 border-start border-end">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                {% for object in object_list %}


                <div class="col-12 p-2">
                    <a class="btn btn-light col-12 text-center p-2"
                       style="border: 2px solid black; background: #198754;"
                       data-bs-toggle="collapse"
                       href="#collapseExample{{object.pk}}"
                       role="button"
                       aria-expanded="false"
                       aria-controls="collapseExample"><h6>{{object}}</h6></a>
                </div>

                <div class="collapse pt-2" id="collapseExample{{object.pk}}">
                    {% for item in Subcategory%}
                    {% if item.category == object %}
                    <div class="row justify-content-center m-1">
                        <div class="text-center col-11">
                            <div class="list-group">
                                <a href="{% url 'product:view' item.pk %}"
                                   class="p-2 mx-3 btn btn-outline-success text-decoration-none text-reset"
                                   aria-current="true">
                                    {{item}}
                                </a>
                            </div>

                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                {% endfor %}
            </div>
        </div>


        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="row">


                    {% for object in object_list %}
                        <div class="col-4 p-2">
                            <a class="p-2 mx-3 btn btn-outline-success text-decoration-none text-reset"
                               href="{% url 'product:category_view' object.slug %}">
                                <div class="image-container card">
                                    <img class="card-img-top p-1 " src="/media/{{object.img}}"
                                         style="width:100%; height:auto">
                                    <div class="card-footer">
                                        <h5 class="card-title text-center">{{object}}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .image-container img {
               transition: transform 0.3s ease-in-out;
           }

    .image-container img:hover {
               transform: scale(1.1);
           }

    .image-container .card-footer {
                background:#ffc107
           }


</style>


{% endblock %}


