{% extends 'store/base.html' %}}


{% block content%}


<div class="container py-3">


    <div class="container px-4 pb-5" id="hanging-icons">
        <div class="row mb-4 border-bottom">
            <div class="col-3 text-center">
                <a class="px-5 btn btn-warning" href="{% url 'store:home'%}">Каталог</a>
            </div>


            <div class="col-9 text-center">
                <form class="d-flex mb-3" role="search" method="get" action="">
                    <input type="text" name="search_query" class="form-control me-2" placeholder="Искать в Сарафане"
                           aria-label="Search" id="id_search_query"
                           value="{% if search_query%}{{search_query}}{% endif %}">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
            </div>
        </div>

        <div class="row align-items-start">
            <div class="col-3 border-start border-end">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    {% for object in Topic %}
                    <button class="nav-link  position-relative {% if object.pk == 1 %}active{% endif %}"
                            id="v-pills-{{object.pk}}-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-{{object.pk}}" type="button" role="tab"
                            aria-controls="v-pills-{{object.pk}}"
                            aria-selected="true">{{object}}

                        {% for key, value in count.items %}
                        {% if key == object.pk %}
                        <span class="position-absolute top-50 start-100 translate-middle badge rounded-pill bg-danger">{{value}}+</span>
                        {% endif %}
                        {% endfor %}
                    </button>
                    {% endfor %}

                </div>
            </div>


            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    {% for object_t in Topic %}

                    <div class="tab-pane fade {% if object_t.pk == 1 %}show active{% endif %}"
                         id="v-pills-{{object_t.pk}}" role="tabpanel"
                         aria-labelledby="v-pills-{{object_t.pk}}-tab">
                        {% for object in object_list %}
                        {% if object.topic == object_t %}


                        <div class="row pb-2">


                            <div class="col-10" style="color: #00ABBA">


                                <div class="row justify-content-center m-0 p-0">

                                    <div class="col-1  text-center {% if object.chance_integer > 6 %}text-success {% else %}text-warning{% endif %} m-0 p-0">
                                        {{object.chance_integer}}%
                                    </div>

                                    <div class="col-11 text-success m-0 p-0">
                                        <a class="m-0 p-0" href="{% url 'product:view' object.pk  %}"
                                           style="text-decoration: none">
                                            <h5 class="m-0 p-0">
                                                {{object.question}}
                                            </h5>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="col-2">
                                <a class="btn btn-light col-12 text-center p-1"
                                   style="border: 2px solid black; background: #7ab3ef;"
                                   data-bs-toggle="collapse"
                                   href="#collapseExample{{object.pk}}"
                                   role="button"
                                   aria-expanded="false"
                                   aria-controls="collapseExample"><h6>Показать Ответ</h6></a>
                            </div>
                            <div class="collapse pt-2" id="collapseExample{{object.pk}}">
                                <div class="row card card-body">
                                    <!--                                                                                                                                <H3>Ответ</H3>-->
                                    <H4>{{object.question}}</H4>
                                    <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
                                        <table class="table table-bordered text-start">
                                            <thead class="m-0 p-0">
                                            <tr class="text-center" style="background-color:#7ab3ef">
                                                <th scope="col">Ответ</th>
                                            </tr>
                                            </thead>
                                            <tr class="text-center">
                                                <td class="px-4 text-start">
                                                    {{object.answer | safe}}
                                                </td>
                                            </tr>


                                            <tr class="text-center">
                                                <td>
                                                    <p class="card-text">
                                                        <small class="text-muted">
                                                            {{object.release_date}}
                                                            {% if object.link %}
                                                            <a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                                               target="_blank"
                                                               href="{{object.link}}">Источник</a>
                                                            {% endif %}

                                                            {% if user.is_authenticated %}
                                                            <a href="{% url 'products:update' object.pk  %}"
                                                               class="btn btn-outline-secondary btn-sm">Изменить</a>
                                                            <a href="{% url 'products:delete' object.pk  %}"
                                                               class="btn btn-outline-danger btn-sm">Удалить</a>
                                                            {% endif %}

                                                        </small>
                                                    </p>

                                                </td>
                                            </tr>
                                        </table>


                                    </div>
                                </div>
                            </div>
                            <br>


                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}

